<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Повідомлення</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top fw700">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img alt="SoftServe" class="logo" src="img/logo.png">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Потреби</a></li>
                            <li><a href="#">Пропозиції</a></li>
                            <li><a href="#">Додати Потребу</a></li>
                            <li><a href="#">Додати Пропозицію</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <hr class="divider hidden-lg hidden-md hidden-sm">
                            </li>
                            <li><a href="../navbar/">Про нас</a></li>
                            <li><a href="../navbar-static-top/">Мій кабінет</a></li>
                            <li><a href="#">Вийти</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                    <ul class="secondaryNavigation">
                        <li class="topRow">
                            <a href="#">Опобліковані потреби</a>
                        </li>
                        <li class="topRow">
                            <a href="#">Підтримані потреби</a>
                        </li>
                        <li class="topRow">
                            <a href="#">Опобліковані пропозиції</a>
                        </li>
                        <li class="topRow">
                            <a href="#">Підтримані пропозиції</a>
                        </li>
                        <li class="topRow">
                            <a href="#" class="currneLink">Повідомлення</a>
                        </li>
                        <li class="topRow">
                            <a href="#">Профіль</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                    <div class="container">
                        <h2>Повідомлення</h2>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span>10/14/2015</span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum unde fugit, esse nulla. Quasi rerum facere praesentium repellendus quis, mollitia hic ipsa eum, eveniet nesciunt id voluptate nulla velit, perspiciatis corporis quo expedita blanditiis sit error animi quaerat sint corrupti. Assumenda minima earum velit, nisi distinctio et, qui blanditiis perferendis.
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span>10/14/2015</span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem molestias beatae adipisci, dolore, totam accusantium culpa, optio voluptatibus ratione iste corporis a consequatur nobis aut. Aperiam ex quibusdam praesentium magnam fugiat odio quae explicabo, incidunt excepturi tempore! Porro mollitia, eveniet molestiae quibusdam officiis expedita similique voluptas iste tempore ipsa.
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span>10/14/2015</span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat aliquid, quia temporibus non dicta. Sint blanditiis quos incidunt, inventore odit. Ratione voluptatem tempora laborum delectus placeat ipsa possimus ex natus!
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </section>
        <footer>
            <nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text text-center">© SoftServe LTD, 2010-2014, 0 800 60 3000 (10.00 – 19.00 Пн.-Пт.
                        <a href="#">Контакти</a>
                        <a href="#">Site Map</a>
                        <a href="#">Privacy</a>
                        <a href="#">Terms Of Use</a>
                    </p>
                </div>
            </nav>
        </footer>
    </body>
</html>