<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Профіль</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top fw700">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img alt="SoftServe" class="logo" src="img/logo.png">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Потреби</a></li>
                            <li><a href="#">Пропозиції</a></li>
                            <li><a href="#">Додати Потребу</a></li>
                            <li><a href="#">Додати Пропозицію</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <hr class="divider hidden-lg hidden-md hidden-sm">
                            </li>
                            <li><a href="../navbar/">Про нас</a></li>
                            <li><a href="../navbar-static-top/">Мій кабінет</a></li>
                            <li><a href="#">Вийти</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                    <ul class="secondaryNavigation">
                        <li class="topRow">
                            <a href="#">Опобліковані потреби</a>
                        </li>
                        <li class="topRow">
                            <a href="#">Підтримані потреби</a>
                        </li>
                        <li class="topRow">
                            <a href="#">Опобліковані пропозиції</a>
                        </li>
                        <li class="topRow">
                            <a href="#">Підтримані пропозиції</a>
                        </li>
                        <li class="topRow">
                            <a href="#">Повідомлення</a>
                        </li>
                        <li class="topRow">
                            <a href="#" class="currneLink">Профіль</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                    <div class="container">
                        <h2 class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Профіль</h2>
                        <h2><button type="button" id="profileEdit" class="btn btn-default btn-md">Редагувати</button></h2>
                    </div>  
                      
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                    <div class="container">
                        <hr>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <span>Ваше ім&#180;я  {{user.name}}</span><br><hr>
                                <span>Електронна пошта: {{user.email}}</span><br><hr>
                                <span>Телефон: {{user.phone}}</span><br><hr>
                                <span>Хто Ви:  {{user.status}}</span><br><hr>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <span>Підтримані потреби  {{user.supportedNeeds}}</span><br><hr>
                                <span>Опобліковані Пропозиції {{user.offers}}</span><br><hr>
                                <span>Опобліковані Потреби  {{user.needs}}</span><br><hr>
                                <span>Підтримані Пропозиції  {{user.supportedOffers}}</span><br><hr>
                            </div>
                        </div>  
                        <hr>                 
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text text-center">© SoftServe LTD, 2010-2014, 0 800 60 3000 (10.00 – 19.00 Пн.-Пт.
                        <a href="#">Контакти</a>
                        <a href="#">Site Map</a>
                        <a href="#">Privacy</a>
                        <a href="#">Terms Of Use</a>
                    </p>
                </div>
            </nav>
        </footer>
    </body>
</html>